.dropdown-navigation {
    position: relative;
}

.avatar {
    border-radius: 50%;
    width: var(--avatar-diameter);
    height: var(--avatar-diameter);
}

.dropdown-navigation label {
    position: absolute;
    top: 0px;

    background: #f7991c;
    
    border-radius: 50%;
    width: var(--avatar-diameter);
    height: var(--avatar-diameter);

    display: flex;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;

    color: white;
    font-size: 1.2em;
}

.dropdown-navigation label:hover {
    background: #e48c1a;
}

.dropdown-navigation input {
    position: absolute;
    top: 3px;
    visibility: hidden;
}

.dropdown-navigation ul {
    position: absolute; 
    top: 43px;
    right: 0px;

    box-shadow: 0px 3px 15px 0px #8893C0;
    border-radius: 5px;
    min-width: 170px;
    padding: 20px;
    
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

#avatar-checkbox:checked + ul {
    opacity: 1;
    pointer-events: all;
}

.nav-username {
    text-align: center;
    font-size: 0.8em;
    color: #929aa5;
    white-space: nowrap;
}

.nav-item {
    border-radius: 2px;
    display: block;
    padding: 7px;
    text-decoration: none;
    color: black;
}

.nav-item:hover {
    background-color: #f8f9fc;
}