header {
    position: fixed;
    z-index: 1;
    top: calc(-1*var(--header-height));
    width: 100%;
    height: var(--header-height);
    background-color: #ffffff;

    display: flex;
    align-items: center;
    
    animation: drop-header 0.8s;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes drop-header {
    to {
        transform: translateY(var(--header-height));
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 35px;
}

.menu {
    display: flex;
    align-items: center;
}

.btn-bell {
    margin-right: 17px;
}

.notify-bell {
    color: #bdc8da;
}

.notify-bell:hover {
    color: #929aa5;
}
