.card-container {
    position: relative;
    perspective: 1000px;
}

.card-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-container:hover .card-content {
    transform: rotateY(180deg);
    transition: transform 0.7s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
}

.front {
    overflow: hidden;
}

.back {
    background-color: white;
    padding: 8%;
    overflow: hidden;
}