main {
    height: calc(94% - var(--header-height) - 10vh);
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

@media all and (max-width: 576px) {
    .grid-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(14, 1fr);
    }
}

