:root {
    --header-height: 61px;
    --avatar-diameter: 35px;
    --events-font-size: 1.5em;
    --contact-icon-size: 2vw;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #f8f9fc;
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 1100px) { 
    body {
        font-size: 12px;
    }
}

.container {
    width: 80%;
    margin: auto;
}

.btn-no-styles {
    padding: 0;
    border: none;
	outline: inherit;
    background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
}

.after-header-spacer {
    height: calc(var(--header-height) + 5vh);
}

.after-main-spacer {
    height: 5vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

