.card-container.card-blog:hover .front {
    width: 0px;
    font-size: 0px;
} 

@media screen and (max-width: 992px) {
    .card-container.card-blog:hover .front {
        width: 100%;
        height: 0px;
    }
}

.card-blog  {
    grid-column: 11 / 13;
    grid-row: 6 / 8;
}

@media screen and (max-width: 992px) {
    .card-blog {
        grid-column: 7 / 10;
        grid-row: 8 / 9;
    } 
}  

@media screen and (max-width: 576px) {
    .card-blog  {
        grid-column: 5 / 9;
        grid-row: 13 / 15;
    }
}

.card-blog .front {
    right: 0;
    background-color: #0443A4;
    
    font-size: var(--events-font-size);
    color: white;

    transition: width 0.7s, font-size 0.7s, height 0.7s;
}

@media screen and (max-width: 992px) {
    .card-blog .front {
        right: auto;
        bottom: 0;

        transition: width 0.7s, font-size 0.7s, height 0.7s; 
    }
}

.card-blog .back {
    background-color: white;
    z-index: -1;
    
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
    overflow-y: scroll;
}

.card-blog .back::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.card-blog .back::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #747474;
}
