.card-bsa {
    grid-column: 1 / 4;
    grid-row: 1 / 5;
}

@media screen and (max-width: 576px) {
    .card-bsa {
        grid-column: 1 / 13;
        grid-row: 1 / 3;
    }
}

.card-bsa .card-content {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-bsa .front {
    background-color: white; 
}

.card-bsa .back {
    backface-visibility: hidden;
    transform: rotateY( 180deg );
}

.card-bsa img {
    width: 100px;
    height: auto;
}

@media screen and (max-width: 576px) {
    .card-bsa img {
        width: 50px;
        height: auto;
    }
}

.card-bsa a {
    background-color: rgb(13, 138, 255);
    border-radius: 3px;
    padding: 12px 30px 12px 30px; 
    
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}

.card-bsa a:hover {
    background-color: rgb(26, 13, 214);
}
