.card-container.card-contacts:hover .front {
    width: 0px;
    font-size: 0px;
} 

.card-contacts  {
    grid-column: 11 / 13;
    grid-row: 8;
}
 
@media screen and (max-width: 992px) {
    .card-contacts {
        grid-column: 10 / 13;
        grid-row: 8 / 9;
    }
}

@media screen and (max-width: 576px) {
    .card-contacts  {
        grid-column: 9 / 13;
        grid-row: 13 / 15;
    }
}

.card-contacts .front {
    background-color: #00265F;
    bottom: 0;
    right: 0;

    font-size: var(--events-font-size);
    color: white;

    transition: width 0.5s, font-size 0.5s;     
}

.card-contacts .back {
    background-color: white;
    z-index: -1;
    
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
}

.contact-links {
    width: 100%;
    margin: 0px 5% 0px 5%;
    display: flex;
    justify-content: space-between;
}

.contact-link {
    display: block;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.contact-link svg {
    display: block;
    min-width: 15px;
    min-height: 15px;
    width: var(--contact-icon-size);
    height: var(--contact-icon-size);
}

.contact-link svg:hover {
    fill: dodgerblue;
}