.card-container.card-dotnet:hover .front {
    width: 0px;
    height: 0px;
    font-size: 0px;
} 

.card-dotnet  {
    grid-column: 7 / 11;
    grid-row: 4 / 9;
}

@media screen and (max-width: 992px) {
    .card-dotnet  {
        grid-column: 4 / 13;
        grid-row: 4 / 6;
    }
}

@media screen and (max-width: 576px) {
    .card-dotnet  {
        grid-column: 1 / 13;
        grid-row: 7 / 9;
    }
}

.card-dotnet .front {
    background-color: #642077;
    bottom: 0;
    right: 0;

    font-size: 6em;
    color: white;

    transition: width 0.7s, height 0.7s, font-size 0.7s;     
}

.card-dotnet .back {
    background-color: white;
    z-index: -1;

    padding: 20px;
    
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
}