.card-container.card-events:hover .front {
    width: 0px;
    font-size: 0px;
} 

.card-events  {
    grid-column: 11 / 13;
    grid-row: 4 / 6;
}
  
.card-events .front {
    background-color: #2D99FE;
    bottom: 0;
    right: 0;

    font-size: var(--events-font-size);
    color: white;

    transition: width 0.7s, font-size 0.7s;     
}

@media screen and (max-width: 992px) {
    .card-events {
        grid-column: 4 / 7;
        grid-row: 8 / 9;
    }

    .card-events .front {
        right: auto;
        left: 0;
    }
}

@media screen and (max-width: 576px) {
    .card-events  {
        grid-column: 1 / 5;
        grid-row: 13 / 15;
    }
}

.card-events .back {
    background-color: white;
    z-index: -1;
    
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
    overflow-y: scroll;
}

.card-events .back::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.card-events .back::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #747474;
}