.card-container.card-java:hover .front {
    height: 0px;
    font-size: 0px;
} 

.card-java  {
    grid-column: 4 / 7;
    grid-row: 7 / 9;
}

@media screen and (max-width: 992px) {
    .card-java  {
        grid-column: 4 / 13;
        grid-row: 6 / 8;
    }
}

@media screen and (max-width: 576px) {
    .card-java  {
        grid-column: 1 / 13;
        grid-row: 9 / 11;
    }
}

.card-java .front {
    background-color: #E02B4E;
    bottom: 0;

    font-size: 2em;
    color: white;

    transition: height 0.7s, font-size 0.7s;     
}

.card-java .back {
    background-color: white;
    z-index: -1;

    padding: 20px;
    
    font-size: 1.15em;
    line-height: 1.5em;
    font-weight: bold;
}