.card-js  {
   grid-column: 4 / 7;
   grid-row: 1 / 7;
}

@media screen and (max-width: 992px) {
    .card-js  {
        grid-column: 4 / 9;
        grid-row: 1 / 4;
    }
}

@media screen and (max-width: 576px) {
    .card-js {
        grid-column: 1 / 13;
        grid-row: 3 / 5;
    }
}

.card-js .card-content {
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.card-js .front {
    backface-visibility: hidden;
    background-color: #F6CF68;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 0px 15px 2% 0px;

    font-size: 6em;
    font-weight: bold;
}

.card-js .back {
    backface-visibility: hidden;

    font-size: 1.15em;
    line-height: 1.5em;
    font-weight: bold;

    transform: rotateY( 180deg );
}