.card-container.card-php:hover .front {
    width: 0px;
    height: 0px;
    font-size: 0px;
} 

.card-php  {
    grid-column: 7 / 13;
    grid-row: 1 / 4;
}

@media screen and (max-width: 992px) {
    .card-php  {
        grid-column: 9 / 13;
        grid-row: 1 / 4;
    }
}

@media screen and (max-width: 576px) {
    .card-php {
        grid-column: 1 / 13;
        grid-row: 5 / 7;
    }
}

.card-php .front {
    background-color: #8893C0;
    top: 0;
    right: 0;

    font-size: 6em;
    font-style: italic;

    transition: width 0.7s, height 0.7s, font-size 0.7s;     
}

.card-php .back {
    background-color: white;
    z-index: -1;
    
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: bold;
}