.card-qa  {
    grid-column: 1 / 4;
    grid-row: 5 / 9;
}

@media screen and (max-width: 576px) {
    .card-qa  {
        grid-column: 1 / 13;
        grid-row: 11 / 13;
    }
}

.card-qa .card-content {
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.card-qa .front {
    backface-visibility: hidden;
    background-color: #51BF76;
    
    font-size: 6em;
    color: white;
}

.card-qa .back {
    backface-visibility: hidden;
    
    font-size: 1.15em;
    line-height: 1.5em;
    font-weight: bold;

    transform: rotateY( 180deg );
}