.message-container {
    position: absolute;
    right: 1%;
    bottom: 2%;
    min-width: 200px;
    width: 15%;
}

.message {
    border-radius: 4px;
    opacity: 0.85;

    margin-top: 15px;
    padding: 15px;

    display: flex; 
    align-items: center; 
    color:white;
}

.message-icon { 
    margin-right: 10px;
    width: 20%;

    text-align: center;
    font-size: 1.45em;
}

.message-text {
    width: 80%;
    font-size: 1.1em;
    line-height: 1.4em;
}

.message-text h1 {
    margin-bottom: 2px;
    font-weight: 600;
}

.message.success {
    background-color: #3ea13e;
}

.message.error {
    background-color: #a5271e;
}